code {
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #666;
  font-size: 24px;
  font-weight: bold;
}

.square, .mask, .flag {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: rgba(0, 0, 0, 0);
}

.square {
  background: #999;
}

.mask {
  background: #ccc;
}

.flag {
  background: #ccc;
  background-image: url('../src/icons/flag.png');
  background-size: cover;
  background-repeat: no-repeat; 
}

.square, .mask {
  transition: background-color 0.2s;
}

.square:hover{
  background-color: #aaa;
}

.mask:hover {
  background-color: #ddd;
}

.square.bomb{
  background: #ccc;
  color: rgba(0, 0, 0, 0);
  background-image: url('../src/icons/bomb.png');
  background-size: cover;
  background-repeat: no-repeat; 
}

.square.zero {
  color: rgba(0, 0, 0, 0);
}

.square.one {
  color: blue;
}

.square.two {
  color: green;
}

.square.three {
  color: red;
}

.square.four {
  color: rgb(0, 0, 110);
}

.square.five {
  color: brown;
}

.square.six {
  color: teal;
}

.square.seven {
  color: black;
}

.square.eight {
  color: gray;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}